<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cloud Computing Quiz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
        <h2>Welcome to Digital Conference for Developers IBM</h2>
        <!-- <p class="lead">Answer these multiple choice questions to earn goodies!</p> -->
        </div>
        <form method="POST" action="/quizsubmission">
        <p class="lead"></p>
        
        Enter your Email ID:<br/>    
        <input type="text" id="cloudemail" name="cloudemail" class="form-control" placeholder="Please enter your IBM Cloud Email ID" required>
        <br/>   
    
        1. ____________ describes how pods that are part of a deployed workload can be accessed from outside of the Kubernetes cluster. Gives clients a well-defined target address/port combination across multiple pods, including across restarts and recreations of these pods.<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="a" required> Deployment
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="b"> Service
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="c"> StatefulSet
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="d"> PersistenVolume/StorageClass
        </label>
        </div>
        <br/>  
        2. Which of the sentences are correct regarding Kubernetes and OpenShift resource types?<br/>
       <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="a" required> Pod automatically comes with volume
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="b"> All Pods must have same replica sets
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="c"> ReplicationController is resposible for managing and controlling number of Pods
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="d"> A service is created when you expose the Pod in Openshift
        </label>
        </div>
        <br/>  
        3. Which statement is correct regarding OpenShift additions over Kubernetes?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="a" required> OpenShift adds features required for real-world usage of Kubernetes.
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="b"> Container images created for OpenShift cannot be used with plain Kubernetes much less
with Docker alone.
        </label>
        </div>
          <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="b">Red Hat maintains forked versions of Docker and Kubernetes internal to the OCP product.
        </label>
        </div>
          <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="b"> Doing Continuous Integration and Continuous Deployment with OCP requires external
tools.
        </label>
        </div>
        <br/> 
        4. ________________ are flexible and powerful custom Kubernetes resource definitions that can be used for deploying and managing containerized workloads in a Kubernetes environment. They can also be used for packaging applications, in a manner similar to Helm charts, or they can be used together with Helm, in a complementary manner<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="a" required> ConfigMap
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="b"> Service
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="c"> Operators
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="d"> PersistenVolume/StorageClass
        </label>
        </div>
        <br/>  
        
        5. What is the that tool automates the Docker installation and setup process and provides an intuitive graphical user interface (GUI) for running Docker containers?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="a" required> Docker Kinematic
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="b">  Docker Swarm
        </label>
        </div>
        <div class="radio">
          <label>
          <input type="radio" name="quiz_5" id="quiz_5" value="c"> Docker Compose
          </label>
          </div>
        <!-- <br/> -->
        <br/> 
      
        <!-- <br/> -->
        <!-- <br/> -->
            <div class="checkbox">
            <label>
      		<input type="checkbox" name="interested" value="Yes" checked>&nbsp;IBM may use my contact data to keep me informed of products, services and offerings.
   			</label>
 			</div>
        <br/>
        <input type="submit" value="Submit Quiz" class="btn btn-primary btn-lg"/>
        </form>
      <br/><br/>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 IBM India Pvt Ltd</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
  </body>
</html>
